img.wppd-image-shortcode-responsive {
  max-width:100%
}
.wppd-image-align-right{
  float: right;
}
.wppd-image-align-left{
  float: left;
}
.wppd-image-align-center{
  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}